    
    h1 {
        color:darkmagenta;
        text-align: center;
        font-size: 80px;
        font-family:'Lucida Sans';
    }
    h3 {
        
        text-align: center;
        font-family:'Roboto Mono', monospace;
        padding: 10px;
        background-color: rgba(14, 26, 14, 0.286);
    }
    h3:hover{
        text-align: center;
        font-size: 30px;
        font-family:'Roboto Mono', monospace;
        padding: 10px;
        background-color: rgba(167, 150, 39, 0.809);
        transition-duration: 0.5s;
    }
    h4 {
        text-align: center;
        font-family: "Roboto Monno", monospace ;
        background-color: rgba(14, 26, 14, 0.286);
    }

    h4:hover{
        text-align: center;
        font-size: 20px;
        font-family: "Roboto Monno", monospace ;
        transition-duration: 0.5s;
        background-color: rgba(167, 150, 39, 0.809);
        
    }

    img {
        opacity: 70%;
        width: 200px;
        height: 210px;
        padding-left: 30%;
        padding-top: 5%;
        padding-right: 15%;
        filter: drop-shadow(16px 16px 16px red) invert(100%);
    }
    #thirdDiv {

        height: 500px;
        width: 600px;
        color:deepskyblue;
        background-color: black;
        padding: 50px;
        border: 30px solid violet;
        margin: 0 auto;
        border-radius: 25%;
        animation-name: fadeIn;
        animation-duration: 2400ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-direction: alternate-reverse;
        
    }
    
    @keyframes fadeIn {
            from {
            opacity: 0;
            }
            to {
            opacity: 1;
            }
        }
    .text {
        font-family:'Roboto Mono', monospace;
        text-align:center;
        justify-content: stretch;   
    }
    .text:hover {
        font-family:'Roboto Mono', monospace;
        text-align:center;
        font-size: larger;
        filter: brightness(110%);
        transition-duration: 60ms;
    } 

    body {
        display: flex;
        background: url(https://wallpaperaccess.com/full/2435550.png); 
    }